.title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 0 0px 15px;
    border-radius: 20px;
}

.login-page {
    top: 90px;
    position: relative;
}