<nav>
    <div class="d-flex mt-3">
        <div class="mr-auto">
            <img class="mx-3" src="assets/navbar/bars.svg" alt="Bars" style="cursor: pointer;"> Employees
        </div>
        <div class="d-flex" style="margin-left: 46rem;">
            <div class="profile">
                <div class="name-profile">Mohammed Alahmed</div>
                <small class="title-job">Super Admin</small>
            </div>
            <div class="exit mx-3">
                <a href="#">
                    <img src="assets/navbar/exit.svg" alt="Exit">
                </a>
            </div>
        </div>
    </div>
</nav>