<div class="container">
    <section>
        <div class="row " style="display: flex;justify-content: center;">
            <div class="col-md-2">Name</div>
            <div class="col-md-2">Mobile</div>
            <div class="col-md-2">Email</div>
            <div class="col-md-2">Department</div>
            <div class="col-md-2">Branch</div>
        </div>
        <div class="row mt-3">
            <div class="card p-3" style="flex-direction: row;border-radius: 13px;">
                <div class="mx-2">mohammed omar hasan </div>
                <div class="mx-3">+963 953429502</div>
                <div class="mx-3">hasan@gmail.com </div>
                <div class="mx-4">Design </div>
                <div class="mx-4">jamelahi </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/Group 317.svg" alt="">
                    </a>
                </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/edit.svg" alt="">
                    </a>
                </div>
                <div class="mx-2">
                    <a href="#">
                        <img src="assets/action-data/delete.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card p-3" style="flex-direction: row;border-radius: 13px;">
                <div class="mx-2">mohammed omar hasan </div>
                <div class="mx-3">+963 953429502</div>
                <div class="mx-3">hasan@gmail.com </div>
                <div class="mx-4">Design </div>
                <div class="mx-4">jamelahi </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/Group 317.svg" alt="">
                    </a>
                </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/edit.svg" alt="">
                    </a>
                </div>
                <div class="mx-2">
                    <a href="#">
                        <img src="assets/action-data/delete.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card p-3" style="flex-direction: row;border-radius: 13px;">
                <div class="mx-2">mohammed omar hasan </div>
                <div class="mx-3">+963 953429502</div>
                <div class="mx-3">hasan@gmail.com </div>
                <div class="mx-4">Design </div>
                <div class="mx-4">jamelahi </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/Group 317.svg" alt="">
                    </a>
                </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/edit.svg" alt="">
                    </a>
                </div>
                <div class="mx-2">
                    <a href="#">
                        <img src="assets/action-data/delete.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card p-3" style="flex-direction: row;border-radius: 13px;">
                <div class="mx-2">mohammed omar hasan </div>
                <div class="mx-3">+963 953429502</div>
                <div class="mx-3">hasan@gmail.com </div>
                <div class="mx-4">Design </div>
                <div class="mx-4">jamelahi </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/Group 317.svg" alt="">
                    </a>
                </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/edit.svg" alt="">
                    </a>
                </div>
                <div class="mx-2">
                    <a href="#">
                        <img src="assets/action-data/delete.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card p-3" style="flex-direction: row;border-radius: 13px;">
                <div class="mx-2">mohammed omar hasan </div>
                <div class="mx-3">+963 953429502</div>
                <div class="mx-3">hasan@gmail.com </div>
                <div class="mx-4">Design </div>
                <div class="mx-4">jamelahi </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/Group 317.svg" alt="">
                    </a>
                </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/edit.svg" alt="">
                    </a>
                </div>
                <div class="mx-2">
                    <a href="#">
                        <img src="assets/action-data/delete.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card p-3" style="flex-direction: row;border-radius: 13px;">
                <div class="mx-2">mohammed omar hasan </div>
                <div class="mx-3">+963 953429502</div>
                <div class="mx-3">hasan@gmail.com </div>
                <div class="mx-4">Design </div>
                <div class="mx-4">jamelahi </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/Group 317.svg" alt="">
                    </a>
                </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/edit.svg" alt="">
                    </a>
                </div>
                <div class="mx-2">
                    <a href="#">
                        <img src="assets/action-data/delete.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card p-3" style="flex-direction: row;border-radius: 13px;">
                <div class="mx-2">mohammed omar hasan </div>
                <div class="mx-3">+963 953429502</div>
                <div class="mx-3">hasan@gmail.com </div>
                <div class="mx-4">Design </div>
                <div class="mx-4">jamelahi </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/Group 317.svg" alt="">
                    </a>
                </div>
                <div class="mx-3">
                    <a href="#">
                        <img src="assets/action-data/edit.svg" alt="">
                    </a>
                </div>
                <div class="vl"></div>
                <div class="mx-2">

                    <a href="#">
                        <img src="assets/action-data/delete.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>