html,
body,
.container {
    background-color: #F3F3F3 !important;
}

section {
    margin-left: 12rem;
    margin-top: 6rem;
}

.card {
    box-shadow: -1px 2px 6px 0px;
}

.vl {
    border-left: 2px solid;
    height: 35px;
}